.navbar,
.footer,
.navbar-brand {
  background-color: #5e548e;
  font-size: 1.5rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show, .resume-text a {
  color: #e0b1cb;
}

.navbar-nav .nav-link,
h3 {
  color: white;
}

.navbar-toggler {
  background-color: white;
}

.about-text, .resume-text {
  color: white;
}

.contact-form {
  color: white;
}

#root {
  background-color: #231942;
}

.footer-icon {
  padding-right: 10px;
  padding-left: 10px;
  color: white;
}
